MenuPlanSvc/Connected Services/ServiceIngredient/ServiceIngredient.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62925/Service/ServiceIngredient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" />
  <xs:element name="AddIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" minOccurs="0" name="ingredient" nillable="true" type="q1:Ingredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIngredientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" minOccurs="0" name="ingredient" nillable="true" type="q2:Ingredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditIngredientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" minOccurs="0" name="EditIngredientResult" nillable="true" type="q3:Ingredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIngredients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" minOccurs="0" name="GetAllIngredientsResult" nillable="true" type="q4:ArrayOfIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" minOccurs="0" name="GetIngredientsByCategoryResult" nillable="true" type="q5:ArrayOfIngredient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>