MenuPlanSvc/Connected Services/ServiceIngredient/ServiceIngredient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceIngredient" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62925/Service/ServiceIngredient.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62925/Service/ServiceIngredient.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62925/Service/ServiceIngredient.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceIngredient_AddIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredient" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_AddIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_DeleteIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredient" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_DeleteIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_EditIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:EditIngredient" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_EditIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_GetAllIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIngredients" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_GetAllIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_GetIngredientsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsByCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_GetIngredientsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_GetAllIngredientsWithCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIngredientsWithCategory" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredient_GetAllIngredientsWithCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllIngredientsWithCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceIngredient">
    <wsdl:operation name="AddIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredient/AddIngredient" message="tns:IServiceIngredient_AddIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredient/AddIngredientResponse" message="tns:IServiceIngredient_AddIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredient/DeleteIngredient" message="tns:IServiceIngredient_DeleteIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredient/DeleteIngredientResponse" message="tns:IServiceIngredient_DeleteIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredient/EditIngredient" message="tns:IServiceIngredient_EditIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredient/EditIngredientResponse" message="tns:IServiceIngredient_EditIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredient/GetAllIngredients" message="tns:IServiceIngredient_GetAllIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredient/GetAllIngredientsResponse" message="tns:IServiceIngredient_GetAllIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredientsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredient/GetIngredientsByCategory" message="tns:IServiceIngredient_GetIngredientsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredient/GetIngredientsByCategoryResponse" message="tns:IServiceIngredient_GetIngredientsByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIngredientsWithCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredient/GetAllIngredientsWithCategory" message="tns:IServiceIngredient_GetAllIngredientsWithCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredient/GetAllIngredientsWithCategoryResponse" message="tns:IServiceIngredient_GetAllIngredientsWithCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceIngredient" type="tns:IServiceIngredient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddIngredient">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredient/AddIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredient">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredient/DeleteIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditIngredient">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredient/EditIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIngredients">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredient/GetAllIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredientsByCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredient/GetIngredientsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIngredientsWithCategory">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredient/GetAllIngredientsWithCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceIngredient">
    <wsdl:port name="BasicHttpBinding_IServiceIngredient" binding="tns:BasicHttpBinding_IServiceIngredient">
      <soap:address location="http://localhost:62925/Service/ServiceIngredient.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>