MenuPlanSvc/Connected Services/ServiceIngredient/ServiceIngredient2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RestoReviewService.Business" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ingredient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:Category" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitOfMeasure" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredient" nillable="true" type="tns:Ingredient" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfIngredient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredient" nillable="true" type="tns:Ingredient" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredient" nillable="true" type="tns:ArrayOfIngredient" />
</xs:schema>